<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Learning Vue 2</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css" />
        <style>
            .bg-red {background: red;}
            .bg-blue {background: blue;}
            .is-loading {background: pink;}
            body {padding-top: 40px;}
        </style>
    </head>
    <body>
        <div id="root" class="container">
            <!-- Basic text -->
            <!-- <input type="text" id="input" v-model="message" />

            <p>Input: {{ message }}</p> -->

            <!-- Lists and Event Listeners -->
            <!-- <ul>
                <li v-for="name in names" v-text="name"></li>
            </ul>

            <input type="text" v-model="newName" />
            <button @click="addName">Add</button>  -->

            <!-- Attribute and Class Binding -->
            <!-- <button :title="title" :class="{ 'is-loading': isLoading }" @click="toggleButton">Toggle Me</button> -->

            <!-- Computed Properties -->
            <!-- <h2>All Tasks</h2>
            <ul>
                <li v-for="task in completedTasks" v-text="task.description"></li>
            </ul>

            <h2>Incompleted Tasks</h2>
            <ul>
                <li v-for="task in incompletedTasks" v-text="task.description"></li>
            </ul> -->

            <!-- Components -->
            <!-- <task-list></task-list> -->

            <!-- Message Component -->
            <!-- <message title="First Title" body="First Body"></message>
            <message title="Second Title" body="Second Body"></message> -->

            <!-- Modal Component -->
            <!-- <button @click="isShow = true">Show Modal</button>
            <modal v-show="isShow" @close="isShow = false">
                <p>Any other Bulma elements you want</p>
            </modal> -->

            <!-- Tabs Component  -->
            <!-- <tabs>
                <tab name="About" :selected="true">
                    <h1>This is About content.</h1>
                </tab>
                <tab name="About Us">
                    <h1>This is About Us content.</h1>
                </tab>
                <tab name="About Our Vision">
                    <h1>This is About Our Vision content.</h1>
                </tab>
            </tabs> -->

            <!-- Component Communication (#1 Custom Events) -->
            <!-- <coupon @applied="applyCoupon"></coupon>
            <h1 v-show="isCouponApplied">Coupon Code is applied</h1> -->

            <!-- Component Communication (#2 Event Dispatcher) -->
            <!-- <coupon></coupon>
            <h1 v-show="isCouponApplied">Coupon Code is applied</h1> -->

            <!-- Named Slot -->
            <!-- <modal>
                <template slot="header">
                    This is title
                </template>

                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                <template slot="footer">
                    <a class="button is-success">Save changes</a>
                    <a class="button">Cancel</a>
                </template>
            </modal> -->

            <!-- Single-Use Component and Inline Template -->
            <progress-view inline-template>
                <div>
                    <h1>Current progress: {{ currentProgress }}%</h1>

                    <p><button @click="currentProgress += 10">Update</button></p>
                </div>
            </progress-view>
        </div>

        <script src="https://unpkg.com/vue@2.2.4"></script>

        <script src="./main.js"></script>
    </body>
</html>
